# Citation file
# For more information, see:
# https://citation-file-format.github.io/
cff-version: 1.2.0
message: If you use this software or data produced by it, please cite it using the metadata from this file.
title: "Modelblocks - {{module_short_name}}: {{module_long_name}}"
repository: "https://github.com/{{github_org}}/{{module_short_name}}"
license: {{license}}
authors:
{% for author in authors %}  - given-names: {{ author.given_name | tojson }}
    family-names: {{ author.family_name | tojson }}
    email: {{ author.email | tojson }}
{% endfor %}
